openapi: 3.1.0
info:
  title: WikiTree API
  description: |
    The WikiTree API has a single endpoint `https://api.wikitree.com/api.php` that requires an `action` parameter to specify the desired operation. Additional parameters may be required depending on the action.
    
    Only public profiles can be viewed through the API unless you authenticate as a particular user. Once you've authenticated, you can retrieve the data for profiles that have you on the trusted list. Requesting a private profile does not generate an error, but you only receive a privacy-limited data set.
  version: 1.0.0
servers:
  - url: https://api.wikitree.com/api.php
paths:
  ?action=getProfile:
    post:
      summary: Retrieve a Person or Free-Space profile
      parameters:
        - name: getProfile
          in: path
          required: true
          description: The action to perform
          example: getProfile
        - $ref: "#/components/parameters/key"
        - $ref: "#/components/parameters/fields"
        - $ref: "#/components/parameters/bioFormat"
        - $ref: "#/components/parameters/resolveRedirect"
      responses:
        "200":
          description: Successful API response
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: array
                    items:
                      $ref: "#/components/schemas/profile"
                    status:
                      type: integer
                      description: The "status" field is generally zero (0) if there is no error. It can contain an error message if something went wrong.
  ?action=getPeople:
    post:
      summary: Retrieve multiple profiles by key and/or relationship
      parameters:
        - name: getPeople
          in: path
          required: true
          description: The action to perform
          example: getPeople
        - $ref: "#/components/parameters/keys"
        - $ref: "#/components/parameters/fields"
        - $ref: "#/components/parameters/bioFormat"
        - $ref: "#/components/parameters/siblings"
        - $ref: "#/components/parameters/ancestors"
        - $ref: "#/components/parameters/descendants"
        - $ref: "#/components/parameters/nuclear"
        - $ref: "#/components/parameters/minGeneration"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/start"
      responses:
        "200":
          description: Successful API response
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      $ref: "#/components/schemas/people"
                    status:
                      type: integer
                      description: The "status" field is generally zero (0) if there is no error. It can contain an error message if something went wrong.
components:
  parameters:
    keys:
      name: keys
      in: query
      description: One or more WikiTree ID or (User/Person)Id values separated by commas.
      example: Tudor-4,Windsor-1
      required: true
      schema:
        type: string
    siblings:
      name: siblings
      in: query
      description: If 1, then get siblings of profiles, If 0 (default), do not get siblings.
      schema:
        type: integer
    ancestors:
      name: ancestors
      in: query
      description: Number of generations of ancestors (parents) to return from the starting id(s). Default 0.
      schema:
        type: integer
    descendants:
      name: descendants
      in: query
      description: Number of generations of descendants (children) to return from the starting id(s). Default 0.
      schema:
        type: integer
    nuclear:
      name: nuclear
      in: query
      description: Number of generations of nuclear relatives (parents, children, siblings, spouses) to return from the starting id(s). Default 0.
      schema:
        type: integer
    minGeneration:
      name: minGeneration
      in: query
      description: Generation number to start at when gathering relatives.
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: The maximum number of related profiles to return (default 1000).
      schema:
        type: integer
    start:
      name: start
      in: query
      description: The starting number of the returned page of (limit) profiles (default 0).
      schema:
        type: integer
    key:
      name: key
      in: query
      description: WikiTree ID or PageId
      example: Tudor-4
      required: true
      schema:
        type: string
    fields:
      name: fields
      in: query
      description: Comma-separated list of fields to return (see the profile schema below). Default is all fields.
      example: Derived.ShortName,BirthDate,BirthLocation,DeathDate,DeathLocation
      schema:
        type: string
    bioFormat:
      name: bioFormat
      in: query
      description: "Optional: 'wiki', 'html', or 'both'"
      schema:
        type: string
    resolveRedirect:
      name: resolveRedirect
      in: query
      description: Optional. If 1, then requested profiles that are redirections are followed to the final profile
      schema:
        type: integer
  schemas:
    profile:
      type: object
      properties:
        Id:
          type: integer
          description: Integer "user/person" id of profile
        PageId:
          type: integer
          description: Integer ID used in getProfile to request the content
        Name:
          type: string
          description: The WikiTree ID, with spaces replaced by underscores as in an URL
        IsPerson:
          type: integer
          description: 1 for Person profiles
        FirstName:
          type: string
          description: First Name
        MiddleName:
          type: string
          description: Middle Name
        MiddleInitial:
          type: string
          description: First letter of Middle Name
        LastNameAtBirth:
          type: string
          description: Last Name at Birth; used for WikiTree ID
        LastNameCurrent:
          type: string
          description: Current Last Name
        Nicknames:
          type: string
          description: Nicknames
        LastNameOther:
          type: string
          description: Other Last Names
        RealName:
          type: string
          description: The "Preferred" first name of the profile
        Prefix:
          type: string
          description: Prefix
        Suffix:
          type: string
          description: Suffix
        BirthDate:
          type: string
          format: date
          description: The date of birth, YYYY-MM-DD. The Month (MM) and Day (DD) may be zeros.
        DeathDate:
          type: string
          format: date
          description: The date of death, YYYY-MM-DD. The Month (MM) and Day (DD) may be zeros.
        BirthLocation:
          type: string
          description: Birth Location
        DeathLocation:
          type: string
          description: Death Location
        BirthDateDecade:
          type: string
          description: Date of birth rounded to a decade, e.g. 1960s
        DeathDateDecade:
          type: string
          description: Date of death rounded to a decade, e.g. 1960s
        Gender:
          type: string
          description: Male or Female
        Photo:
          type: string
          description: The base filename of the primary photo for the profile
        IsLiving:
          type: integer
          description: 1 if the person is considered "living", otherwise 0
        Created:
          type: string
          pattern: "^[0-9]{14}$"
          description: The timestamp the profile was created, YYYYMMDDHHMMSS
        Touched:
          type: string
          pattern: "^[0-9]{14}$"
          description: The timestamp the profile was last modified, YYYYMMDDHHMMSS
        Privacy:
          type: integer
          description: An integer representing the [Privacy](https://www.wikitree.com/wiki/Help:Privacy) setting on the profile. The Privacy determines which fields are available.
        Privacy_IsPrivate:
          type: boolean
          description: True if Privacy = 20
        Privacy_IsPublic:
          type: boolean
          description: True if Privacy = 50
        Privacy_IsOpen:
          type: boolean
          description: True if Privacy = 60
        Privacy_IsAtLeastPublic:
          type: boolean
          description: True if Privacy >= 50
        Privacy_IsSemiPrivate:
          type: boolean
          description: True if Privacy = 30-40
        Privacy_IsSemiPrivateBio:
          type: boolean
          description: True if Privacy = 30
        Manager:
          type: integer
          description: The Id (user_id) of the (a) manager of the profile
        Creator:
          type: integer
          description: The Id (user_id) of the creator of the profile
        Father:
          type: integer
          description: The Id (user_id) of the father of the profile. Zero if empty. Null if excluded by privacy.
        Mother:
          type: integer
          description: The Id (user_id) of the mother of the profile. Zero if empty. Null if excluded by privacy.
        HasChildren:
          type: integer
          description: 1 if the profile has at least one child
        NoChildren:
          type: integer
          description: 1 if the "No more children" box is checked on the profile
        IsRedirect:
          type: integer
          description: 1 if the profile is a redirection to another profile, e.g. if the LastNameAtBirth was changed.
        DataStatus:
          type: array
          items:
            type: string
          description: An array of the "guess", "certain", etc. flags for the data fields.
        PhotoData:
          type: object
          description: Detailed information for the primary photo. Requesting this implies the Photo field, from which it's derived.
        Connected:
          type: integer
          description: Indicates whether the person is connected to the global family tree, with 1=connected and 0=unconnected
        IsMember:
          type: boolean
          description: True/1 if the profile is that of an active WikiTree member, false/0 otherwise.
        EditCount:
          type: integer
          description: The contribution count of the user/profile.
        Derived.ShortName:
          type: string
          description: RealName (LastNameAtBirth) LastNameCurrent Suffix
        Derived.BirthName:
          type: string
          description: FirstName MiddleName
        Derived.BirthNamePrivate:
          type: string
          description: RealName LastNameAtBirth Suffix
        Derived.LongName:
          type: string
          description: FirstName MiddleName (LastNameAtBirth) LastNameCurrent Suffix
        Derived.LongNamePrivate:
          type: string
          description: RealName MiddleInitial (LastNameAtBirth) LastNameCurrent Suffix
    people:
      type: object
      properties:
        Id:
          type: integer
          description: Integer "user/person" id of profile
        PageId:
          type: integer
          description: Integer ID used in getProfile to request the content
        Name:
          type: string
          description: The WikiTree ID, with spaces replaced by underscores as in an URL
        IsPerson:
          type: integer
          description: 1 for Person profiles
        FirstName:
          type: string
          description: First Name
        MiddleName:
          type: string
          description: Middle Name
        MiddleInitial:
          type: string
          description: First letter of Middle Name
        LastNameAtBirth:
          type: string
          description: Last Name at Birth; used for WikiTree ID
        LastNameCurrent:
          type: string
          description: Current Last Name
        Nicknames:
          type: string
          description: Nicknames
        LastNameOther:
          type: string
          description: Other Last Names
        RealName:
          type: string
          description: The "Preferred" first name of the profile
        Prefix:
          type: string
          description: Prefix
        Suffix:
          type: string
          description: Suffix
        BirthDate:
          type: string
          format: date
          description: The date of birth, YYYY-MM-DD. The Month (MM) and Day (DD) may be zeros.
        DeathDate:
          type: string
          format: date
          description: The date of death, YYYY-MM-DD. The Month (MM) and Day (DD) may be zeros.
        BirthLocation:
          type: string
          description: Birth Location
        DeathLocation:
          type: string
          description: Death Location
        BirthDateDecade:
          type: string
          description: Date of birth rounded to a decade, e.g. 1960s
        DeathDateDecade:
          type: string
          description: Date of death rounded to a decade, e.g. 1960s
        Gender:
          type: string
          description: Male or Female
        Photo:
          type: string
          description: The base filename of the primary photo for the profile
        IsLiving:
          type: integer
          description: 1 if the person is considered "living", otherwise 0
        Created:
          type: string
          pattern: "^[0-9]{14}$"
          description: The timestamp the profile was created, YYYYMMDDHHMMSS
        Touched:
          type: string
          pattern: "^[0-9]{14}$"
          description: The timestamp the profile was last modified, YYYYMMDDHHMMSS
        Privacy:
          type: integer
          description: An integer representing the [Privacy](https://www.wikitree.com/wiki/Help:Privacy) setting on the profile. The Privacy determines which fields are available.
        Privacy_IsPrivate:
          type: boolean
          description: True if Privacy = 20
        Privacy_IsPublic:
          type: boolean
          description: True if Privacy = 50
        Privacy_IsOpen:
          type: boolean
          description: True if Privacy = 60
        Privacy_IsAtLeastPublic:
          type: boolean
          description: True if Privacy >= 50
        Privacy_IsSemiPrivate:
          type: boolean
          description: True if Privacy = 30-40
        Privacy_IsSemiPrivateBio:
          type: boolean
          description: True if Privacy = 30
        Manager:
          type: integer
          description: The Id (user_id) of the (a) manager of the profile
        Creator:
          type: integer
          description: The Id (user_id) of the creator of the profile
        Father:
          type: integer
          description: The Id (user_id) of the father of the profile. Zero if empty. Null if excluded by privacy.
        Mother:
          type: integer
          description: The Id (user_id) of the mother of the profile. Zero if empty. Null if excluded by privacy.
        HasChildren:
          type: integer
          description: 1 if the profile has at least one child
        NoChildren:
          type: integer
          description: 1 if the "No more children" box is checked on the profile
        IsRedirect:
          type: integer
          description: 1 if the profile is a redirection to another profile, e.g. if the LastNameAtBirth was changed.
        DataStatus:
          type: array
          items:
            type: string
          description: An array of the "guess", "certain", etc. flags for the data fields.
        PhotoData:
          type: object
          description: Detailed information for the primary photo. Requesting this implies the Photo field, from which it's derived.
        Connected:
          type: integer
          description: Indicates whether the person is connected to the global family tree, with 1=connected and 0=unconnected
        IsMember:
          type: boolean
          description: True/1 if the profile is that of an active WikiTree member, false/0 otherwise.
        EditCount:
          type: integer
          description: The contribution count of the user/profile.
        Derived.ShortName:
          type: string
          description: RealName (LastNameAtBirth) LastNameCurrent Suffix
        Derived.BirthName:
          type: string
          description: FirstName MiddleName
        Derived.BirthNamePrivate:
          type: string
          description: RealName LastNameAtBirth Suffix
        Derived.LongName:
          type: string
          description: FirstName MiddleName (LastNameAtBirth) LastNameCurrent Suffix
        Derived.LongNamePrivate:
          type: string
          description: RealName MiddleInitial (LastNameAtBirth) LastNameCurrent Suffix